
footer div{
  background-color: #444;
  margin-top: 60px;
  max-width: 1000px;
}

header{
  background-color: #444;
  max-width: 1000px;
}

li{
  display: inline;
  float: left;
  margin: 40px 50px 40px 50px;
}

h3{
  margin-bottom: -10px;
}

img{
  margin: 15px;
  float: left;
}

.sub {
  float: left;
}

.featured{
  /* float: left; */
  display: inline-block;
}

p{
  display: inline-block;
  max-width: 450px;
  max-height: 320px;
  overflow: scroll;
}

#logo{
  float: left;
  margin-top: 10px;
}

body {
  margin-left: 60px;
}

button{
  background-color: black;
  color: azure;
  padding: 5px 15px;
  margin-left: -100px;
  border-radius: 10px;
}

button:hover{
    background-color: yellow;
    transition-delay: 350ms;
}